@model List<Category>;

<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-6">
            <h1 class="text-primary">Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(o => o.DisplayOrder))
        {   
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td><a class="btn btn-primary" asp-action="Edit" asp-route-Id="@obj.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-Id="@obj.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
